<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>RequireJS AngularJS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="public/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div ng-controller="homeController as vm">
            <p>Hola, @{{vm.name}}</p>
        </div>
        <script type="text/javascript"
            data-main="public/js/main"
            src="public/bower_components/requirejs/require.js"></script>
    </body>
</html>
